
.lyavochorr {
    margin-left: 1007px;
    margin-top: 25px;
    width: 312px;
    height: 185px;
}

.mainlyavochorr {
    position: absolute;
}

.btn {
    cursor: pointer;
    border-radius: 25px;
    margin-left: 1061px;
    margin-top: 10px;
    background: #87B0BA;
    border: none;
    width: 200px;
    height: 45px;
    color: #ffffff;
    font-family: Circe;
    font-style: normal;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}