.udichvymchorr {
 z-index: 100;
}


.image {
  position: absolute;
  margin-left: 554px;
  margin-top: 398px;
  width: 248px;
  height: 136px;
}

.btn {
    position: absolute;
    margin-top: 550px;
    margin-left: 565px;
    background: #87B0BA;
    border: none;
    width: 245px;
    height: 45px;
    color: #ffffff;
    font-family: Circe;
    font-style: normal;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
}

.dav {
  cursor: pointer;
}